.container {
  padding: var(--spacer-7) var(--spacer-8);
  padding-top: cal(var(--spacer-7 - 1px));
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: 2px solid transparent;
  border-radius: 24px;
  transition: all 0.3s;
  outline: none;
  width: fit-content;
}

.content {
  display: flex;
  color: var(--color-text-1);
  gap: var(--spacer-4);
  align-items: center;
}

.title {
  font-size: var(--text-para);
}

.icon svg {
  width: 20px;
  height: 20px;
}
.container.hover_1_container:hover,
.container.hover_1_container:focus {
  border: 2px solid var(--color-azul-ae);
  border-radius: 24px;
}

.container.hover_1_container:hover,
.container.hover_1_container:focus {
  outline: none;
  border: 2px solid var(--color-azul-ae);
  border-radius: 24px;
}

.container.hover_2_container {
  border-radius: 16px;
}

.container.hover_2_container:hover,
.container.hover_2_container:focus {
  outline: none;
  border: 2px solid var(--color-azul-ae);
  border-radius: 16px;
}
.container.hover_3_container {
  border-radius: 0;
}

.hover_3_container .line {
  width: 0;
  height: 2px;
  background-color: var(--color-azul-ae);
  transition: width 0.3s ease-in-out;
  margin-top: 4px;
}

.container.hover_3_container:hover .line,
.container.hover_3_container:focus .line {
  outline: none;
  width: 100%;
}

.container.hover_4_container {
  border-radius: 0;
}

.container.hover_4_container:hover,
.container.hover_4_container:focus {
  outline: none;
  border: 2px solid var(--color-azul-ae);
}

.container.hover_5_container {
  border-radius: 0px 30px 0px 0px;
}

.container.hover_5_container:hover,
.container.hover_5_container:focus {
  outline: none;
  border: 2px solid var(--color-azul-ae);
  border-radius: 0px 30px 0px 0px;
}
