.accordion_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: calc(var(--spacer-11) - 1px) var(--spacer-20);
}

.accordion_icon {
  width: 58px;
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
}

.accordion_icon_rotate {
  transform: rotate(45deg);
}
.accordion_icon_rotate line,
.accordion_icon_rotate path,
.accordion_icon_rotate circle {
  fill: var(--color-azul-ae);
  stroke: var(--color-azul-ae);
}

.accordion_description {
  overflow: hidden;
  padding: 54px 40px;
  padding-top: 20px;
}
.accordion_description p {
  margin-top: var(--spacer-10);
}

/* .accordion_open {
  max-height: 100%;
  padding: 40px;
} */

/* List Accordion Starts */
.list_accordion_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacer-8) var(--spacer-22);
  border-bottom: 1px solid var(--color-gris-2);
}
.list_accordion_header_left {
  display: flex;
  align-items: center;
}
.list_accordion_icon {
  width: 68px;
  min-width: 68px;
  height: 68px;
  min-height: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list_accordion_sub_item {
  padding: var(--spacer-6) var(--spacer-25);
  border-bottom: 1px solid var(--color-gris-2);
  display: flex;
  align-items: center;
  gap: var(--spacer-8);
}

.list_accordion_sub_item_icon {
  width: 56px;
  min-width: 56px;
  max-width: 56px;
  height: 56px;
  min-height: 56px;
  max-height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* List Accordion Ends */
