/* Bullet Icon Starts */
.bullet {
  width: 8px;
  min-width: 8px;
  height: 8px;
  min-height: 8px;
  border-radius: var(--border-radius-circle);
  background-color: var(--color-azul-ae);
}
.bullet_sub {
  background-color: var(--color-azul-light-1);
}
/* Bullet Icon Ends */

/* Simple List Starts */
.simple_list {
  display: flex;
  flex-direction: column;
  gap: var(--spacer-8);
}
.simple_list_heading {
  display: flex;
  align-items: center;
  gap: var(--spacer-4);
}
.simple_list_items {
  display: flex;
  flex-direction: column;
  gap: var(--spacer-8);
}
.simple_list_item {
  display: flex;
  align-items: center;
  gap: var(--spacer-4);
  margin-left: var(--spacer-8);
}
/* Simple List Ends */

/* Image List Item Starts */
.image_list_item {
  display: flex;
  gap: var(--spacer-14);
}
.image_list_item_image {
  position: relative;
  width: 76px;
  min-width: 76px;
  height: 76px;
  min-height: 76px;
  aspect-ratio: 1 / 1;
  border-radius: var(--border-radius-circle);
  overflow: hidden;
}
.image_list_item_content {
  display: flex;
  flex-direction: column;
  gap: var(--spacer-11);
}
/* Image List Item Ends */

/* Image List Item Starts */
.number_list {
  display: flex;
  gap: var(--spacer-14);
  position: relative;
}
.number_list_icon_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 166px;
  min-width: 166px;
  height: 166px;
  min-height: 166px;
  border-radius: var(--border-radius-circle);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-azul-light-4);
}
.number_list_content {
  display: flex;
  flex-direction: column;
  gap: var(--spacer-11);
  margin-left: 149px;
  margin-top: 51px;
  z-index: 1;
}
/* Image List Item Ends */

/* List Item Simple Starts */
.list_item {
  display: flex;
  align-items: center;
}
/* List Item Simple Ends */

/* List With Description Starts */
.list_with_description,
.list_with_items {
  gap: var(--spacer-14);
}
/* List With Description Ends */

/* List with Items Starts */

/* List with Items Ends */
@media screen and (max-width: 1024px) {
  .list_item {
    display: flex;
    gap: var(--spacer-10);
  }
}

@media screen and (max-width: 640px) {
  .list_item {
    display: flex;
    gap: var(--spacer-6);
  }
}
