.container {
  border-radius: 34px;
  background-color: var(--color-blanco);
  font-size: var(--text-para-l);
  padding: var(--p-2);
  padding-left: 36px;
  display: flex;
}

.input {
  flex: 1;
  border: none;
  outline: none;
}

.iconWrapper {
  border-radius: 50%;
  padding: 18px;
  background-color: var(--color-azul-ae);
  cursor: pointer;
}

.icon svg {
  min-width: 20px;
  min-height: 20px;
}

.simple_input {
  outline: none;
  border: none;
  background-color: transparent;
  font-size: var(--text-para);
  border-bottom: 1px solid var(--color-gris-2);
  padding-bottom: 8px;
  color: var(--color-negro);
  width: 100%;
}
.simple_input.azul {
  border-bottom-color: var(--color-azul-dark-2);
}
.simple_input.azul,
.simple_input.azul::placeholder {
  color: var(--color-blanco);
}
.simple_input::placeholder {
  color: var(--color-negro-ae);
  opacity: 1;
  transition: all 0.3s;
}
/* Disabling Top simple Input placeholder */
.disable.simple_input::placeholder {
  opacity: 0;
}

.topPlaceHolder {
  opacity: 0;
  transition: all 0.3s;
  color: var(--color-gris-4);
}

.azul.topPlaceHolder {
  color: var(--color-negro-ae);
}
/* Place Holder Active */
.active.topPlaceHolder {
  opacity: 1;
}

/* Error Styles  */
.error.simple_input {
  border-bottom-color: var(--color-error);
}
.errorMessage {
  color: var(--color-error);
  margin-top: var(--spacer-4);
}
