:root {
  --color-azul-dark-1: #2b99ca;
  --color-azul-dark-2: #217eab;
  --color-azul-ae: #1a9eda;
  --color-azul-light-1: #a3d8f0;
  --color-azul-light-2: #c2e5f5;
  --color-azul-light-3: #e9f5fb;
  --color-azul-light-4: #edf9ff;
  --color-negro-ae: #010101;
  --color-gris: #f7f7f7;
  --color-gris-1: #dddedf;
  --color-gris-2: #cbcbcb;
  --color-gris-3: #888d8e;
  --color-gris-4: #666c6e;
  --color-gris-5: #ededed;
  --color-blanco: #ffffff;
  --color-text-1: #1d1d1b;
  --color-text-light: #a1a2a2;
  --color-bg-1: #edf9ff;
  --color-error: #ed3e34;
  --color-hover-primary-btn: #29a7e2;
  --color-hover-secondary-btn: #d1f3ff;
}
