:root {
  --p-1: 4px;
  --p-1-2: 5px; /*5px*/
  --p-2: 6px;
  --p-3: 8px;
  --p-4: 10px;
  --p-5: 12px;
  --p-5-2: 13px;
  --p-6: 14px;
  --p-7: 16px;
  --p-8: 18px;
  --p-8-2: 19px;
  --p-9: 20px;
  --p-10: 22px;
  --p-11: 24px;
  --p-12: 28px;
  --p-13: 30px;
  --p-14: 32px;
}
