:root {
  --spacer-1: 4px;
  --spacer-2: 8px;
  --spacer-3: 12px;
  --spacer-3-5: 14px;
  --spacer-4: 16px;
  --spacer-5: 20px;
  --spacer-6: 24px;
  --spacer-7: 28px;
  --spacer-8: 32px;
  --spacer-9: 40px;
  --spacer-10: 48px;
  --spacer-11: 60px;
  --spacer-12: 80px;
  --spacer-13: 100px;
}
