:root {
  --spacer-1: 2px;
  --spacer-2: 4px;
  --spacer-3: 6px;
  --spacer-4: 8px;
  --spacer-5: 10px;
  --spacer-6: 12px;
  --spacer-7: 14px;
  --spacer-8: 16px;
  --spacer-9: 18px;
  --spacer-10: 20px;
  --spacer-11: 22px;
  --spacer-12: 24px;
  --spacer-13: 26px;
  --spacer-14: 28px;
  --spacer-15: 30px;
  --spacer-16: 32px;
  --spacer-17: 34px;
  --spacer-18: 36px;
  --spacer-19: 38px;
  --spacer-20: 40px;
  --spacer-21: 42px;
  --spacer-22: 44px;
  --spacer-23: 46px;
  --spacer-24: 48px;
  --spacer-25: 50px;
  --spacer-26: 52px;
  --spacer-27: 54px;
  --spacer-28: 56px;
  --spacer-29: 58px;
  --spacer-30: 60px;
  --spacer-31: 62px;
  --spacer-32: 64px;
  --spacer-33: 66px;
  --spacer-34: 68px;
  --spacer-35: 70px;
  --spacer-36: 72px;
  --spacer-37: 74px;
  --spacer-38: 76px;
  --spacer-39: 78px;
  --spacer-40: 80px;
  --spacer-41: 82px;
  --spacer-42: 84px;
  --spacer-43: 86px;
  --spacer-44: 88px;
  --spacer-45: 90px;
  --spacer-46: 92px;
  --spacer-47: 94px;
  --spacer-48: 96px;
  --spacer-49: 98px;
  --spacer-50: 100px;
}
