:root {
  --text-supertitle-xl: 160px;
  --text-supertitle-l: 120px;
  --text-supertitle: 90px;
  --text-title-xxl: 68px;
  --text-title-xl: 50px;
  --text-title-l: 38px;
  --text-title: 28px;
  --text-title-s: 25px;
  --text-para-l: 20px;
  --text-para: 16px;
  --text-subtitle: 14px;
  --text-subtitle-s: 12px;
}
