.content {
  padding: var(--spacer-40) var(--spacer-20);
}

.content p {
  font-size: var(--text-para-l);
  margin: var(--spacer-10) 0;
}

.content a {
  text-decoration: underline;
  color: var(--color-azul-ae);
}
@media screen and (max-width: 1024px) {
  .content {
    padding: var(--spacer-30) var(--spacer-20);
  }
}

@media screen and (max-width: 640px) {
  .content {
    padding: var(--spacer-20) var(--spacer-10);
  }
}
