@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: var(--color-negro-ae);
  font-family: var(--font-roboto);
}

html {
  font-size: 0.833vw; /* 16px */
}
@media screen and (max-width: 1440px) {
  html {
    font-size: 1.111vw; /* 16px */
  }
}
