.container {
  position: relative;
  width: 100%;
  height: auto;
  aspect-ratio: 16/9.48;
}
.circle {
  aspect-ratio: 1/1;
}
.rectangle {
  aspect-ratio: 16/9.4;
}
.oval {
  aspect-ratio: 4/3;
}

.image {
  border-radius: var(--border-radius-simple);
}

.oval .image {
  border-radius: var(--border-radius-oval);
}
.circle .image {
  border-radius: var(--border-radius-circle);
}

.rectangle .image {
  border-radius: var(--border-radius-rectangle);
}
