/* Super Title Xl Styles Starts */
.super_title_xl {
  font-size: var(--text-supertitle-xl);
}

.super_title_l {
  font-size: var(--text-supertitle-l);
}

.super_title {
  font-size: var(--text-supertitle);
}
/* Super Title Styles Ends */
/* ======================== */
/* Title Style Starts */
.title_xxl {
  font-size: var(--text-title-xxl);
}
.title_xl {
  font-size: var(--text-title-xl);
}
.title_l {
  font-size: var(--text-title-l);
}
.title {
  font-size: var(--text-title);
}
.title_s {
  font-size: var(--text-title-s);
}
/* Title Style Ends */
/* ================= */
/* Para Styles Starts */
.para_l {
  font-size: var(--text-para-l);
}
.para {
  font-size: var(--text-para);
}
/* Para Styles Ends */
/* ================== */
/* Subtitle Styles Starts */

.subtitle {
  font-size: var(--text-subtitle);
}
.subtitle_s {
  font-size: var(--text-subtitle-s);
}
/* Subtitle Styles Ends */

/* =============================================== */

/* Color Styles Setting Starts */

/* Black Color Starts  */
.default {
  color: var(--color-negro-ae);
}

/* Black Color Ends */

/* ===================== */

/* Azul Colors Starts */
.azul {
  color: var(--color-azul-ae);
}
/* Azul Colors Ends */

/* ==================== */

/* White Color Starts */
.white {
  color: var(--color-blanco);
}
/* White Color Ends */

/* Gray Color Starts */
.gray {
  color: var(--color-negro-light);
}
/* Gray Color Ends */
.error {
  color: var(--color-error);
}
/* Color Styles Setting Ends */
