.container {
  padding: var(--p-6) var(--p-11);
  border-radius: 50px !important;
  outline: none;
  border: none;
  max-width: fit-content;
  font-size: var(--text-para);
  color: var(--color-negro-ae);
  display: flex;
  gap: var(--spacer-3-5);
  align-items: center;
  overflow: hidden;
  position: relative;
}

.primary {
  color: var(--color-blanco);
  background-color: var(--color-azul-ae);
}

.secondary {
  color: var(--color-negro-ae);
  background-color: var(--color-azul-light-3);
}
.outline {
  border: 1px solid var(--color-azul-ae);
}
.simple {
  background-color: none;
  border: none;
}
.onlyIcon {
  padding: 0;
}

/* Only Icon Styles with primary starts */
.primary.onlyIcon .iconWrapper {
  color: var(--color-blanco);
  background-color: var(--color-azul-ae);
  padding: var(--p-6);
}
/* Only Icon Styles with primary Ends */

/* Only Icon Styles with Secondary Starts */
.secondary.onlyIcon .iconWrapper {
  color: var(--color-blanco);
  background-color: var(--color-azul-light-3);
  padding: var(--p-6);
}
/* Only Icon Styles with Secondary Ends */

/* Only Icon Styles with outline Starts */
.outline.onlyIcon .iconWrapper {
  padding: var(--p-6);
}
/* Only Icon Styles with outline Ends */

/* Icon Image */
.iconWrapper {
  background-color: var(--color-blanco);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--p-3);
  border-radius: 100%;
  transition: all 0.3s;
}
.iconImage svg {
  width: 18px !important;
  height: 18px !important;
  max-width: 18px !important;
  max-height: 18px !important;
  align-self: center;
}

/* Primary Icon Styles Starts */
.primary .iconImage path,
.primary .iconImage line,
.primary .iconImage circle,
.primary .iconImage rect,
.primary .iconImage {
  stroke: var(--color-azul-ae);
}
.onlyIcon.primary .iconImage path,
.onlyIcon.primary .iconImage line,
.onlyIcon.primary .iconImage circle,
.onlyIcon.primary .iconImage rect,
.onlyIcon.primary .iconImage {
  stroke: var(--color-blanco);
}
/* Primary Icon Styles Ends */

/* Secondary Icon Styles Starts */
.secondary .iconImage path,
.secondary .iconImage line,
.secondary .iconImage circle,
.secondary .iconImage rect,
.secondary .iconImage {
  stroke: var(--color-azul-ae);
}
.onlyIcon.secondary .iconImage path,
.onlyIcon.secondary .iconImage line,
.onlyIcon.secondary .iconImage circle,
.onlyIcon.secondary .iconImage rect,
.onlyIcon.secondary .iconImage {
  stroke: var(--color-negro-ae);
}
/* Secondary Icon Styles Ends */

/* Icon Directions  */
.left.withIcon {
  flex-direction: row-reverse;
  padding: var(--p-1-2);
  padding-right: var(--p-11);
}
.right.withIcon {
  flex-direction: row;
  padding: var(--p-1-2);
  padding-left: var(--p-11);
}

/* Azol Styles Starts */
.primaryAzul {
  background-color: var(--color-blanco);
  color: var(--color-negro-ae);
}
.primaryAzul .iconWrapper {
  background-color: var(--color-azul-dark-2);
}
.primaryAzul.onlyIcon .iconWrapper {
  background-color: var(--color-blanco);
}
.primaryAzul .iconImage path,
.primaryAzul .iconImage line,
.primaryAzul .iconImage circle,
.primaryAzul .iconImage rect,
.primaryAzul .iconImage {
  stroke: var(--color-blanco);
}
.primaryAzul.onlyIcon .iconImage path,
.primaryAzul.onlyIcon .iconImage line,
.primaryAzul.onlyIcon .iconImage circle,
.primaryAzul.onlyIcon .iconImage rect,
.primaryAzul.onlyIcon .iconImage {
  stroke: var(--color-azul-ae);
}
.secondaryAzul {
  background-color: var(--color-azul-dark-2);
  color: var(--color-blanco);
}
.secondaryAzul.onlyIcon .iconWrapper {
  background-color: var(--color-azul-dark-2);
}
.secondaryAzul.onlyIcon .iconImage path,
.secondaryAzul.onlyIcon .iconImage line,
.secondaryAzul.onlyIcon .iconImage circle,
.secondaryAzul.onlyIcon .iconImage rect,
.secondaryAzul.onlyIcon .iconImage {
  stroke: var(--color-blanco);
}
.outlineAzul {
  border: 1px solid var(--color-blanco);
  color: var(--color-blanco);
}
.outlineAzul .iconWrapper {
  background-color: transparent;
}

.outlineAzul .iconImage path,
.outlineAzul .iconImage line,
.outlineAzul .iconImage circle,
.outlineAzul .iconImage rect,
.outlineAzul .iconImage {
  stroke: var(--color-blanco);
}
.simpleAzul {
  color: var(--color-blanco);
}
.simpleAzul .iconWrapper {
  background-color: transparent;
}
.simpleAzul .iconImage path,
.simpleAzul .iconImage line,
.simpleAzul .iconImage circle,
.simpleAzul .iconImage rect,
.simpleAzul .iconImage {
  stroke: var(--color-blanco);
}
/* Azol Styles Ends */
