.container {
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  width: 100%;
  font-size: var(--text-para);
  /* height: 233px; */
}

.single_line {
  height: 50px;
}

.characters {
  font-size: var(--text-subtitle-s);
  color: var(--color-gris-4);
}
